.CardsOnButton {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #1b1b1b;
  cursor: pointer;
  border: 1px solid #1b1b1b;
  margin-right: 20px;
}
.CardsOnButton:hover {
  color: #f50057;
  border-bottom: 1px solid #f50057;
}
