table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  outline: 1px solid green;
  margin-bottom: 100px;
}

thead,
tbody,
tr {
  display: contents;
}

tr,
td {
  min-width: 140px;
  min-height: 80px;
  outline: 1px solid gray;
}
