.listCards {
  display: grid;
  width: 100%;
  // outline: 2px solid red;
  // margin: 30px 0px;
  background: white;
}

.Card {
  background: Silver;
}

.requisite_People {
  margin-bottom: 40px;
}
.cardListButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 40px 5px 0px 5px;
}
