.CardsOffButton {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #1b1b1b;
  border: 1px solid #1b1b1b;
  cursor: pointer;
  margin-left: 20px;
}

.CardsOffButton:hover {
  color: #f50057;
  border-bottom: 1px solid #f50057;
}
